/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-text-color: rgb(102, 155, 185);

.pt-color {
  color: $primary-text-color;
}

.white-color {
  color: #fff;
}
