.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
  border: none;
}

.sort-info {
  padding: 100px 0px;
  background-image: url("../../../shared/images/background.jpg");
  background-repeat: no-repeat;
}

.sort-info-footer {
  background-color: rgb(213, 236, 255);
}

.bg-input {
  padding: 30px;
  border-radius: 34px;
  background-color: rgba(0, 56, 78, 0.4);
}
